body{
    font-family: 'Nunito Sans', sans-serif;
}
h1{
    font-size: 30px;
}
.color{
    color: rgba(229, 255, 0, 0.801);
}
.paragraph-color{
    font-size: 10px;
}
.flexible-container{
    display: flex;
    margin-bottom: 200px;
}
.half-width{
    width: 50%;
    padding:10px 20px 10px 10px;
}
.half-width img{
    width: 100%;
    padding-right: 50px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font: 700;
    color: peachpuff;
    padding: 5px 20px;
    border-radius: 10px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-position: left;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.h1exp{
    padding: 10px;
    margin-left: 20px;
}
#experience-item{
    width: 40%;
    margin: 10px 20px;
    padding: 40px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    border-left: 10px solid;
    border-image: linear-gradient(red orange);
    border-image-slice: 1;
}
#experience-2item{width: 40%;
    margin: 10px 20px;
    padding: 40px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    border-left: 10px solid blue;
    border-image: linear-gradient(red orange);
    border-image-slice: 1;
}
.h2class{
    color: orangered;
}
.experence-area{
    background-image: url(images/exp-bg.png);
    background-repeat:no-repeat;
}
footer p{
    text-align: center;
}